bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/node_modules
src/SQLBox.Hosting/providers.json
/src/SQLBox.Hosting/providers.json
/src/SQLBox.Hosting/settings.json
/src/SQLBox.Hosting/*.db
/.idea
